<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChaRyi | Online shopping: Catalogue</title>
    <meta name="description" content="Catalogue">
    <meta name="keywords" content="Shop, Online shop, E-Shop, Shopping, Catalogue">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
    <script src="vendor/js/jquery-3.6.4.slim.min.js"></script>
</head>
<body>
    <noscript>Enable JS in your browser.</noscript>
    <header>
        
    </header>
    <main>
        <div>
            <h2>Catalogue</h2>
            <p>Sort by:</p>
            <input type="radio" id='Sort_price'>
            <label for="Sort_price">Price</label>
            <input type="radio" id='Sort_relevant'>
            <label for="Sort_relevant">Relevant</label>
            <input type="radio" id='Sort_date'>
            <label for="Sort_date">Date</label>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>