{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChaRyi | Online shopping</title>
    <meta name="description" content="Shop main page">
    <meta name="keywords" content="Shop, Online shop, E-Shop, Shopping">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'vendor/js/jquery-3.6.4.slim.min.js' %}"></script>
</head>
<body>
    <noscript>Enable JS in your browser.</noscript>
    </div>
    <header>
        <button class="aside-buttons" onclick="Aside()"><img src="{% static 'images/align-left.svg' %}"></button>
        <a href=""><h1>ChaRyi</h1></a>
        <nav>
            <form id="validation" action="#" method="post">
                <input type="text" placeholder="Login" name="username" value="">
                <input type="password" placeholder="Password" name="userpass" value="">
                <button type="submit" id="submit-button">Log In</button>
            </form>
            <ul>
                <li><a href="index">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="help">Help</a></li>
                <li><a href="contactUs">Contact us</a></li>
                <li><a href="catalogue">Catalogue</a></li>
            </ul>
        </nav>
    </header>
    <aside id="catalogue-menu">
        <ul>
            <li>Men</li>
            <ul>
                <li>T-Shirts</li>
                <li>Shirts</li>
                <li>Pants</li>
                <li>Coats</li>
                <li>Shoes</li>
                <li>Accessories</li>
                <button class="accs-buttons" onclick="Accs()"><img src="{% static 'images/align-left.svg' %}"></button>
                <ul class="accs">
                    <li>Socks</li>
                    <li>Hats</li>
                    <li>Bags</li>
                    <li>Scarves</li>
                    <li>Belts</li>
                </ul>
                
            </ul>
            <li>Women</li>
            <ul>
                <li>T-Shirts</li>
                <li>Shirts</li>
                <li>Pants</li>
                <li>Dresses</li>
                <li>Skirts</li>
                <li>Coats</li>
                <li>Shoes</li>
                <li>Accessories</li>
                <button class="accs-buttons" onclick="Accs()"><img src="{% static 'images/align-left.svg' %}"></button>
                <ul class="accs">
                    <li>Socks</li>
                    <li>Hats</li>
                    <li>Bags</li>
                    <li>Scarves</li>
                    <li>Belts</li>
                </ul>
                
            </ul>
        </ul>
    </aside>
    <main>
        {% for product in products|slice:":4" %}
    <div class="Products">
        <h2>{{ product.product_name }}</h2>
        <p>Price: {{ product.product_price }} euros</p>
        <p>Description: {{ product.product_desc }}</p>
		<img src="{{ product.product_image.url }}" alt="Product image">
    </div>
		{% endfor %}
       
    </main>
    <footer>
        <div><p>Account</p>
            <ul>
                <li><a href="login">Log in</a></li>
                <li><a href="register">Sign up</a></li>
                <li><a href="redeem">Redeem a Promocode</a></li>
            </ul>
        </div>
        <div><p>Company</p>
            <ul>
                <li><a href="about">About</a></li>
                <li><a href="international">International</a></li>
                <li><a href="accessibility">Accessibility</a></li>
            </ul>
        </div>
        
        
    </footer>
</body>
</html>