@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html, body {
    
    font-family: 'Oswald', sans-serif;
    width: 100%;
    margin: 0px;
    background: rgb(220, 241, 255);
    user-select: none;
}

.Products {
	display: inline-block;
	border-style: solid;
	border-color: black;
	width: 350px;
	background-color: azure;
	margin-bottom: 50px;
}

.Products h2, .Products h3, .Products h4, .Products img{
	color: black;
	margin: -1px 0px;
}

.aside-buttons {
    position: relative;
    width: 100px;
    height: 30px;
    border: none;
    border-color: azure;
    border-style: solid;
    background-color: transparent;
    top: 90px;
    left: 250px;
}

.aside-buttons img {
    width: 30px;
    position: relative;
    
    top: -5px;

}

header {
    display: block;
    background: linear-gradient(to right, rgb(85, 185, 224), rgb(64, 64, 219));
    width: 100%;
    height: 120px;
    border-width: 0px 0px 5px 0px;
    border-style: solid;
    border-color: azure;
    font-family: 'Pacifico', cursive;
}

#about-header {
    display: block;
    color: azure;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    height: 50px;
    margin-top: -20px;
    background-color: black;
}

header a h1 {
    color: azure;
    position: relative;
    font-size: 67px;
    top: -67%;
    left: 20px;
    text-shadow: 2px 4px 4px black;
    text-decoration: none;
}

header nav {
    position: relative;
    display: flex;
    width: 1000px;
    top: -240px;
    left: 870px;
    font-size: 190%;
    color: azure;
    text-shadow: 2px 2px 4px black;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

header nav ul li {
    list-style: none;
    margin: 0px 10px;
    border-color: azure;
    border-style: solid;
    border-radius: 15px;
    padding: 3px;
}

header nav ul li a {
    text-decoration: none;
    color: azure;
}

header button {
    z-index: 4;
}

.accs-buttons {
    z-index: 1;
    position: relative;
    left: -45px;
    top: -15px;
    border-style: solid;
    background-color: transparent;
}

.accs-buttons img {
    width: 200px;
    height: 20px;
}

aside {
    position: absolute;
    display: none;
    z-index: 4;
    font-size: xx-large;
    width: 15%;
    background: linear-gradient(to right, rgb(85, 185, 224), rgb(80, 174, 211));
    color: azure;
    text-shadow: 2px 2px 4px black;
    border-width: 0px 5px 5pxpx 0px;
    border-style: solid;
    
}

.accs {
    display: none;
}

aside ul button {
    position: absolute;
}


footer {
    background: linear-gradient(to right, rgb(85, 185, 224), rgb(64, 64, 219));
    display: flex;
    flex-direction: row;
    color:azure;
    width: 100%;
    height: 300px;
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: azure;
    font-family: 'Oswald', sans-serif;
}

footer .mentions {
    all: unset;
    position: relative;
    bottom: -240px;
    right: -1180px;
}

footer a:visited {
    color: azure;
    text-decoration: none;
    text-shadow: 2px 2px 4px black;
}

footer div {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    
}

footer div ul {
    position: relative;
    top: -35px;
    left: 80px;
    
}

footer div ul li a {
    text-decoration: none;
    color: azure;
    text-shadow: 2px 2px 4px black;
}

footer div p {
    position: relative;
    left: 100px;
    top: 20px;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    
}
